<div class="jumbotron">
  <div class="container center">
    <h1>Craigslist Scraper</h1>
    <h2>The easiest way to find apartment rentals in NYC.</h2>
  </div>
</div>

<div class="container">
  <div class="filter">

    <%= form_tag root_path, method: :get, class: "form-inline" do %>
      
      <div class="row">
        <div class="col-md-4">
          <%= label_tag "Price" %>
        </div>
         <div class="col-md-2">
            <%= label_tag :bedrooms %>
        </div>
        <div class="col-md-2">
            <%= label_tag :bathrooms %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= text_field_tag :min_price, params[:min_price], placeholder: "minimum", class: "form-control input-sm" %>
          <%= text_field_tag :max_price, params[:max_price], placeholder: "maximum", class: "form-control input-sm" %>
        </div>

        <div class="form-group col-md-2">
          <%= text_field_tag :bedrooms, params[:bedrooms], size: "10", class: "form-control input-sm" %>
        </div>  
        <div class="form-group col-md-2">
          <%= text_field_tag :bathrooms, params[:bathrooms], size: "10", class: "form-control input-sm" %>
        </div>
      </div>
      
      <br>

      <div class="row">
        <div class="col-md-4">
          <%= label_tag "SqFt" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <%= text_field_tag :min_sqft, params[:min_sqft], placeholder: "minimum", class: "form-control input-sm" %>
          <%= text_field_tag :max_sqft, params[:max_sqft], placeholder: "maximum", class: "form-control input-sm" %>
        </div>

        <div class="form-group col-md-1">
          <%= label_tag :cats %>
          <%#= hidden_field_tag :cats, params[:cats], false %>
          <%= check_box :cats, params[:cats], {}, "YES", "NO" %>
        </div>
        
        <div class="form-group col-md-1">
          <%= label_tag :dogs %>
          <%= check_box_tag :dogs, params[:dogs], false, class: "checkbox" %>
        </div>
        <div class="form-group col-md-2">
          <%= label_tag :w_d_in_unit %>
          <%= check_box_tag :w_d_in_unit, params[:w_d_in_unit], false, class: "checkbox" %>
        </div>
        
        <div class="form-group col-md-2">
          <%= label_tag :street_parking %>
          <%= check_box_tag :street_parking, params[:street_parking], false, class: "checkbox" %>
        </div>

        <div class="form-group">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>

      </div>
            
      <br>

    <% end %>
  </div>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Heading</th>
        <th>Price</th>
        <th>URL</th>
        <th>Updated</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.heading %></td>
          <td><%= number_to_currency(post.price) %></td>
          <td><%= link_to post.external_url, post.external_url %></td>
          <td><%= Time.at(post.timestamp.to_i).strftime("%m/%d/%y") %></td>
          <td><%= link_to 'Show', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  