<div class="row">
  <h4>Filter by:</h4>
  
  <%= form_tag root_path, method: :get, class: "form-inline" do %>
    
    <div class="row">
      <div class="col-md-2">
        <%= label_tag "Price" %>
      </div>
      
      <div class="col-md-2">
        <%= text_field_tag :min_price, params[:min_price], class: "form-control input-sm" %>
      </div>
      
      <div class="col-md-2">
        <%= text_field_tag :max_price, params[:max_price], class: "form-control input-sm" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <%= label_tag :bedrooms %>
        <%= text_field_tag :bedrooms, params[:bedrooms], class: "form-control input-sm" %>
      </div>
      
      <div class="form-group col-md-3">
        <%= label_tag :bathrooms %>
        <%= text_field_tag :bathrooms, params[:bathrooms], class: "form-control input-sm" %>
      </div>
    </div>
    
    <br>
    
    <div class="row">
      <div class="form-group col-md-6">
        <%= label_tag "Sqft" %>
        <%= text_field_tag :min_sqft, params[:min_sqft], class: "form-control input-sm" %>
        <%= text_field_tag :max_sqft, params[:max_sqft], class: "form-control input-sm" %>
      </div>
  
      <div class="form-group col-md-1">
        <%= label_tag :cats %>
        <%= check_box_tag :cats, "YES", params[:cats].present? %>
      </div>
      
      <div class="form-group col-md-1">
        <%= label_tag :dogs %>
        <%= check_box_tag :dogs, "YES", params[:dogs].present? %>
      </div>
      
      <div class="form-group col-md-2">
        <%= label_tag "Washer/dryer in unit" %>
        <%= check_box_tag :w_d_in_unit, "YES", params[:w_d_in_unit].present? %>
      </div>
      
      <div class="form-group col-md-2">
        <%= label_tag :street_parking %>
        <%= check_box_tag :street_parking, "YES", params[:street_parking].present? %>
      </div>
    </div>
    
    <div class="form-group">
      <%= submit_tag "Go!", name: nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Heading</th>
      <th>Price</th>
      <th>Updated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.heading %></td>
        <td><%= number_to_currency(post.price) %></td>
        <td><%= Time.at(post.timestamp.to_i).strftime("%m/%d/%y") %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>